Migrations
obj
bin
streams.db
streams_old.db
.vscode
config.json
POINTS.txt
Bot.code-workspace
Bot.Database/postgres_data
Bot.Migrations/streams copy.db
Bot.Database/SchemaPostgreSQL.cs
Docker-compose.yml
